<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf8"> 
	<title>Rechnung</title>
<style>
    @font-face {
        font-family: "Lato";
            src: url("../fonts/Lato-Light.ttf");
            font-weight: 300;
    }

    @font-face {
        font-family: "Lato";
            src: url("../fonts/Lato-Bold.ttf");
            font-weight: bold;
    }
    @font-face {
        font-family: "Fira Mono";
            src: url("../fonts/FiraMono-Regular.ttf");
            font-weight: 400;
    }

    body {
        font-family: "Lato", sans-serif;
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #151b21;
        background: #444648;
    }

    @media print {
        body {
            background: none;
        }
    }

    * {
        box-sizing: border-box;
    }
    
    div {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        position: relative; 
        width: 100%;
        overflow-wrap: break-word;

    }

    h1 {
        transform: rotate(90deg); 
        transform-origin: 0% 100%;
        position: absolute;
        bottom: 100%;
        padding: 0;
        margin: 0;
        font-size: 32px;
    }

    .wrap {
        height: 100%;
        width: 100%;
        max-width: 210mm;
        margin: 0 auto;
        padding: 0 0.5in;
        background: white;
        }


    .main {
        position: relative;
        top: 5%;
        width: 100%;
        height: 90%;
        padding: 0;
    }

    .entry {
        position: relative;
        width: 45%;
        left: 50%;
        margin-bottom: 35px;
    }

    .entry:before {
        font-family: "Fira Mono", sans-serif;
        content: attr(data-label);
        position: absolute;
        width: 150px;
        text-align: right;
        left: -200px;
        top: 2px;
        font-size: 12px;
    }

    p:before {
        font-family: "Fira Mono", sans-serif;
        content: attr(data-label);
        position: absolute;
        width: 150px;
        text-align: right;
        left: -200px;
        top: 2px;
        font-size: 12px;
    }

    .total p span {
        border-bottom: 4px solid #ffaf38;
    }

    .big {
        font-size: 18px;
    }

    .total p {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .numbers p {
        margin: 0;
    }

    .bold {
        font-weight:bold;
    }

    .contact {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }

    .contact p:last-of-type {
        margin-bottom: 0;
    }

    .logo {
        width: 80px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
</style>
</head>

<body>
    <div class="wrap">

    <div class="main">

    <h1>{{headline}}</h1>
    <div class="entry recipient" data-label="Empfänger">
        <p> {{recipient | nl2br }} </p>
    </div>
    <div class="entry numbers">
        <p data-label="R. Nr">{{number}}</p>
        <p data-label="Datum">{{today}}</p>
        <p data-label="Zahlungsziel">{{toPay}}</p>
        </div>
        {% for item in description %}
        <div class="entry" data-label="{{ item.name }}">
            <p class="{{ item.options }}">{{ item.text }}</p>
        </div>
        {% endfor %}
    <div class="entry total" data-label="Gesamt">
        <p><span> {{ total }} Euro</span></p>
    </div>
    <div class="entry notes" data-label="Anmerkungen">
        {% for item in notes %}
            <p>{{ item.value }}</p>
        {% endfor %}
    </div>
    <div class="entry">
        <p>{{phrase}}</p>
        <p class="bold">{{name}}</p>
        </div>
    <div class="entry contact">
        {% for item in contact %}
            <p>{{item.value  |  nl2br }}</p>
        {% endfor %}
    </div>
    <img src="./logo.png" alt="logo" class="logo">
	</div>
	
    </div>

</body>

</html>

