<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf8"> 
	<title>Rechnung</title>
<style>
    @font-face {
        font-family: "Lato";
            src: url("../fonts/Lato-Light.ttf");
            font-weight: 300;
    }

    @font-face {
        font-family: "Lato";
            src: url("../fonts/Lato-Bold.ttf");
            font-weight: bold;
    }
    @font-face {
        font-family: "Fira Mono";
            src: url("../fonts/FiraMono-Regular.ttf");
            font-weight: 400;
    }

    @page {
        margin: 2cm;
        height: 297mm;
        width: 210mm;
    }
    body {
        font-family: "Lato", sans-serif;
        height: 277mm;
        font-weight: 300;
        position: relative;
        font-size: 8pt;
        color: #151b21;
    }

    * {
        box-sizing: border-box;
    }
    
    div {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        margin-bottom: 3mm;
        padding: 0;
        position: relative; 
        width: 100%;
    }

    h1 {
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        font-family: "Fira Mono", sans-serif;
        font-weight: 400;
        font-size: 18pt;
    }

    .main {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 12mm 0;
        margin: 0;
    }

    .entry {
        position: relative;
        width: 45%;
        left: 50%;
        margin-bottom: 9mm;
    }

    .entry:before {
        font-family: "Fira Mono", sans-serif;
        content: attr(data-label);
        position: absolute;
        width: 25mm;
        text-align: right;
        left: -35mm;
        top: 0.5mm;
        font-size: 6pt;
    }

    p:before {
        font-family: "Fira Mono", sans-serif;
        content: attr(data-label);
        position: absolute;
        width: 25mm;
        text-align: right;
        left: -35mm;
        top: 0.5mm;
        font-size: 6pt;
    }

    .total p span {
        border-bottom: 1mm solid #ffaf38;
    }

    .big {
        font-size: 11pt;
    }

    .total p {
        margin-top: 6mm;
        font-size: 9pt;
        font-weight: bold;
    }

    .numbers p {
        margin: 0;
    }

    .bold {
        font-weight:bold;
    }

    .contact {
        margin-bottom: 0;
    }

    .contact p:last-of-type {
        margin-bottom: 0;
    }

    .logo {
        width: 25mm;
        position: absolute;
        left: 0;
        bottom: 0;
    }
</style>
</head>

<body>

    <div class="main">

    <h1>{{headline}}</h1>
    <div class="entry recipient" data-label="Empfänger">
        <p> {{recipient | raw}} </p>
    </div>
    <div class="entry numbers">
        <p data-label="R. Nr">{{number}}</p>
        <p data-label="Datum">{{today}}</p>
        <p data-label="Zahlungsziel">{{toPay}}</p>
        </div>
        {% for item in description %}
        <div class="entry" data-label="{{ item.name }}">
            <p class="{{ item.options }}">{{ item.text }}</p>
        </div>
        {% endfor %}
    <div class="entry total" data-label="Gesamt">
        <p><span> {{ total }}Euro</span></p>
    </div>
    <div class="entry notes" data-label="Anmerkungen">
        {% for item in  notes %}
            <p>{{ item }}</p>
        {% endfor %}
    </div>
    <div class="entry">
        <p>{{phrase}}</p>
        <p class="bold">{{name}}</p>
        </div>
    <div class="entry contact">
        {% for item in contact %}
            <p>{{item  | raw}}</p>
        {% endfor %}
    </div>
    <img src="./logo.png" alt="logo" class="logo">
	</div>
	

</body>

</html>

